* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.input {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 5px ;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    border: solid 1px black;
}
.busqueda {
    height: 28px;
    width: 80px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.editores button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}