* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Fasthand', cursive;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    background-color: #e8dceb;
    background-image: url(imagenes/57965\ copia.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 50%;

}

nav {
    height: 4rem;
    background-color: white;
}

.logo {
    width: 10rem;
    margin-top: -10px;
}

.color {
    color: #10a779;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Fasthand', cursive;
    font-family: 'Heebo', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

table {
    margin-left: 20px;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.input {
    width: 27rem;
    height: 2rem;
    margin-top: 20px;
    margin-left: 4rem;
    padding: 6px;
    border-radius: 4px;
    margin-bottom: 10px;


}

.name {
    margin-left: 20px;
}

.busqueda {
    height: 2rem;
    width: 90px;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
}

#nombre {
    width: 27rem;
    height: 2rem;
    border-radius: 4px;
}

#tipo {
    width: 27rem;
    height: 2rem;
    border-radius: 4px;
    border: solid 1.8px black;
}

#raza {
    width: 27rem;
    height: 2rem;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 20px;
}

.oculto {
    display: none;
}

@media only screen and (max-width: 800px) {

    nav {
        width: 100vw;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .input {
        width: 8rem;

    }

    #nombre {
        width: 15rem;
    }

    #tipo {
        width: 15rem;
        margin-left: 3.1rem;
    }

    #raza {
        width: 8rem;
        margin-left: 3.1rem;
    }

    .name {
        margin-left: 4px;
    }

    #editar {
        width: 75px;
        font-size: 50%;
    }

    #eliminar {
        width: 75px;
        font-size: 50%;


    }

    .color {
        font-size: 15px;
    }

    table {
        margin-left: 1px;
    }
}